.center {
    width: 90%;
    margin: 0 auto;
    position: relative;

    &>.cards {
        width: 100%;
        padding: 20px 10px;
        box-shadow: 0px 0px 5px #fdfffc;
        margin: 20px auto;
        gap: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: #696969;
    }
}
