.card {
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    padding: 10px;
    background-color: #161a1d;
    box-shadow: 2px 2px 2px #161a1d;

    &>.image {
        width: 280px;
        height: 180px;
        object-fit: cover;
    }

    &>.card-middle {
        width: 280px;
        display: flex;
        gap: 5px;
        flex-direction: column;

        &>.title {
            font-size: larger;
            filter: brightness(120%);
            font-weight: bold;
        }

    }

    &>.text {
        width: 100%;
        letter-spacing: 1px;
        word-spacing: 2px;
        word-break: break-all;
    }

    &>.card-body {
        width: 280px;

        &>.conteiner {
            display: flex;
            gap: 20px;
            align-items: center;

            &>.btn {
                border: none;
                background-color: transparent;
                display: flex;
                font-size: x-large;

                &>.btn-image {
                    width: 24px !important;
                    height: 24px !important;
                }
            }

            &>.btn.like {
                transition: all 0.3s;
                color: red !important;
            }

            &>.btn.buy {
                transition: all 0.3s;

            }
        }
    }
}

.card:hover {
    box-shadow: 1px 1px 1px #fdfffc;
}

@media only screen and (max-width:425px) {
    .card {
        width: 280px !important;
        font-size: medium !important;

        &>.image {
            width: 260px !important;
        }

        &>.card-body {
            width: 260px;
        }

        &>.card-middle {
            width: 260px;
        }
    }

    .card:hover {
        box-shadow: 5px 5px 5px #fdfffc !important;
    }
}